# ============================
# Python cache files
# ============================
__pycache__/
*.pyc
*.pyo

# ============================
# Virtual Environment (venv)
# ============================
venv/
ENV/
env/

# ============================
# Downloaded Videos
# ============================
*.mp4
*.mkv
*.webm

# ============================
# Logs
# ============================
*.log

# ============================
# VS Code settings (optional)
# ============================
.vscode/

# ============================
# OS junk files
# ============================
.DS_Store
Thumbs.db
